:css
  .splitcontent input, 
  .splitcontent select, 
  .splitcontent textarea {
    width:100%;
  }

  td.label {
    text-align: right;
  }

%h2
  = l(:label_new_document_header)

= error_messages_for @issue

%div.box{width: "100%"}
  = form_tag({:controller => 'document_request', :action => 'create', :method => 'get'}, :html => {:id => 'issue-form', :multipart => true}) do

    .splitcontent

      %div{style: 'float: left; width: "35%";'}
        %table
          %tr
            %td.label
              = l(:field_company_name)
              %span.required= " *"
            %td
              = custom_field_tag('issue', CustomValue.new(custom_field_id: @company_name_field_id))
          %tr
            %td.label
              = l(:field_document_for)
              %span.required= " *"
            %td
              = select_tag("issue[custom_field_values][#{@document_for_field_id}]", principals_options_for_select(User.active.all, User.current))
              = # custom_field_tag('issue', CustomValue.new(custom_field_id: @document_for_field_id))
          %tr
            %td.label
              = l(:field_document_type)
              %span.required= " *"
            %td= select_tag("issue[category_id]", options_from_collection_for_select(@categories, 'id', 'name', (params[:issue][:category_id].to_i rescue nil)), :prompt => t(:prompt_please_select), :onchange => "switchCustomDocumentForm(this.value)")
          %tr
            %td.label
              = l(:field_due_date) 
              %span.required= " *"
            %td
              = text_field_tag('issue[due_date]', @due_date, :style=>"width: 50%;")
              = calendar_for('issue_due_date')
          %tr
            %td= submit_tag l(:button_create)

      %div{style: 'float: left; margin-left: 10%; width: "70%";'}
        %div{id: 'custom-document', style: 'display: none;'}
          %table
            %tr
              %td.label
                = l(:label_custom_document_name)
                %span.required= " *"
              %td= text_field_tag 'custom[title]', (params[:custom][:title] rescue nil), :size => '40'
            %tr
              %td.label
                = l(:field_document_request_comment)
                %span.required= " *"
              %td= text_area_tag 'custom[comment]', (params[:custom][:comment] rescue nil) , :size => '40x5'

      %div{style: 'float: left; margin-left: 10%; width: "70%";'}
        %div{id: 'roaming', style: 'display: none;'}
          %table
            %tr
              %td.label
                = l(:field_roaming_country)
                %span.required= " *"
              %td
                = custom_field_tag('issue', CustomValue.new(custom_field_id: @roaming_country_field_id ))
            %tr
              %td.label
                = l(:field_roaming_turn_on_date)
                %span.required= " *"
              %td
                = # custom_field_tag('issue', CustomValue.new(custom_field_id: @roaming_turn_on_date_field_id))
                = text_field_tag("issue[custom_field_values][#{@roaming_turn_on_date_field_id}]", "", :style=>"width: 50%;")
                = calendar_for("issue_custom_field_values_#{@roaming_turn_on_date_field_id}")
            %tr
              %td.label
                = l(:field_roaming_turn_off_date)
                %span.required= " *"
              %td
                = # custom_field_tag('issue', CustomValue.new(custom_field_id: @roaming_turn_off_date_field_id))
                = text_field_tag("issue[custom_field_values][#{@roaming_turn_off_date_field_id}]", "", :style=>"width: 50%;")
                = calendar_for("issue_custom_field_values_#{@roaming_turn_off_date_field_id}")

%p= l(:document_request_timing_note)

:javascript

  function switchCustomDocumentForm(arg) { 

    $("#custom-document").css("display", "none");
    $("#roaming").css("display", "none");             

    switch(arg){
      case "#{@other_category_id}":
        $("#custom-document").css("display", "block"); 
        break;
      case "#{@roaming_category_id}":
        $("#roaming").css("display", "block");      
        break;
    }

  }

- if params[:custom] && params[:custom].values.any?{|v| v.present?} then 
  :javascript
    window.onload = function() { $("#custom-document").css("display", "block") }
    
- if @issue.category_id == @roaming_category_id then
  :javascript
    window.onload = function() { $("#roaming").css("display", "block") }
